<div class="home" fxLayout="column" fxLayoutAlign="center center">
        <section>
            <img mat-card-image src="../../assets/fortune1.png" width="238px" alt="fortune teller globe">
            <h1 fxLayout="row" fxLayoutAlign="center center">Fortune</h1>
            <p>GET a response from the "Magic 8-Ball" in the form of a HTTP status code.</p>
                <button mat-fab color="#4DD0E1">
                    <mat-icon>question_answer</mat-icon>
                </button>
            <h3>Question: Will we move to Denver?</h3>
            <h3>Answer: Processing is Successful...</h3>
        </section>
    </div>