<div class="home" fxLayout="column" fxLayoutAlign="center center">
    <section>
        <img mat-card-image src="../../assets/fortune1.png" width="238px" alt="fortune teller globe">
        <h1 fxLayout="row" fxLayoutAlign="center center">Fortune</h1>
        <p>Ask the Crystal Ball a question and GET a response in the form of a HTTP status code.</p>
        <button (click)="getResponseFromCrystalBall()" mat-fab color="#4DD0E1">
            <mat-icon>question_answer</mat-icon>
        </button>
        <form class="question-form">
            <mat-form-field class="question-full-width">
                <input matInput placeholder="Ask A Question" type="text" [(ngModel)]="responseWithQuestion.question" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>

        <div *ngIf="responseWithQuestion">
                <h3>Question: {{responseWithQuestion.question}}"</h3>
                <h3>Response: {{responseWithQuestion.answer}}</h3>
            </div>
    </section>
</div>