h1, h2, p {
    font-family: 'Muli', sans-serif;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 45px;
}

img {
    margin-top: 30px;
}

h3 {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.home {
    text-align: center;
}

button {
    background-color: #4DD0E1;
}

.question-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .question-container-width {
    width: 100%;
  }
 
  .mat-form-field {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
}