<div class="home" fxLayout="column" fxLayoutAlign="center center">
        <section>
            <img mat-card-image src="../../assets/learn.png" width="460px" alt="computer with code">
            <h1 fxLayout="row" fxLayoutAlign="center center">Learn</h1>
            <p>Click the button to get your coding acryonym.</p>
                <button (click)="getWordDefinition()" mat-fab color="#4DD0E1">
                    <mat-icon>developer_board</mat-icon>
                </button>
                <div *ngIf="wordFromService">
                    <h3>Word: {{wordFromService.word}}</h3>
                    <h3>Definition: {{wordFromService.definition}}</h3>
                </div>
        </section>
    </div>