button {
    font-family: 'Roboto', sans-serif;
    background-color: #4DD0E1;
}

.home {
    text-align: center;
}

h1, h2 {
    font-family: 'Architects Daughter', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

section {
    margin: inherit;
    
}

h1 {
    margin: 70px;
    font-size: 45px;
}