<h1 class="home" fxLayout="column" fxLayoutAlign="center center">Hello, what would you like to do?</h1>
<div class="home" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="100px" fxLayoutAlign="center center">
    <section>
        <img mat-card-image src="../../assets/fortune1.png" width="178px" alt="fortune telling ball">
        <h2>Fortune</h2>
        <p>Ask the crystal ball a question?</p>
        <a routerLink="/fortune">
            <button mat-fab color="#4DD0E1">
                <mat-icon>question_answer</mat-icon>
            </button></a>
    </section>
    <section>
        <img mat-card-image src="../../assets/learn.png" width="317px" alt="computer with coding">
        <h2>Learn</h2>
        <p>Learn Java and coding acryonyms!</p>
        <a routerLink="/learn">
            <button mat-fab color="#4DD0E1">
                <mat-icon>developer_board</mat-icon>
            </button>
        </a>
    </section>
    <section>
        <img mat-card-image src="../../assets/inspire.png" width="350px" alt="book of quotes">
        <h2>Inspire</h2>
        <p>Get motivational quotes!</p>
        <a routerLink="/inspire">
            <button mat-fab color="#4DD0E1">
                <mat-icon>favorite_border</mat-icon>
            </button>
        </a>
    </section>
</div>