button {
    font-family: 'Roboto', sans-serif;
    background-color: #80DEEA;
}

.home {
    text-align: center;
}

h1, h2 {
    font-family: 'Architects Daughter', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-bottom: 36px;
}

h1 #welcome {
    font-size: 100px;
}