<h1 fxLayout="row" fxLayoutAlign="center center">Hello, what would you like to do?</h1>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" >
    <section fxLayout="column" fxLayoutAlign="center center">
            <img mat-card-image src="../../assets/fortune.jpg" alt="fortune telling ball">
        <h2>Fortune</h2>
        <p>Ask the Magic 8 Ball a question?</p>
        <a routerLink="/fortune">
        <button mat-raised-button color="accent">Fortune
            <mat-icon>visibility</mat-icon>
        </button></a>
    </section>
    <section fxLayout="column" fxLayoutAlign="center center">
            <img mat-card-image src="../../assets/learn.jpg" alt="fortune telling ball">
        <h2>Learn</h2>
        <p>Learn Java and coding acryonyms!</p>
        <a routerLink="/learn">
        <button mat-raised-button color="accent">Learn
                <mat-icon>grade</mat-icon>
            </button>
        </a>
    </section>
    <section fxLayout="column" fxLayoutAlign="center center">
            <img mat-card-image src="../../assets/peaceful.jpg" alt="fortune telling ball">
        <h2>Inspire</h2>
        <p>Get motivational quotes.</p>
        <a routerLink="/inspire">
        <button mat-raised-button color="accent">Inspire
                <mat-icon>favorite_border</mat-icon>
            </button>
        </a>
    </section>



