button {
    font-family: 'Source Sans Pro', sans-serif
}

.home {
    text-align: center;
}

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
}

p {
    font-family: 'Source Sans Pro', sans-serif
}