<div class="home" fxLayout="column" fxLayoutAlign="center center">
    <section>
        <img mat-card-image src="../../assets/inspire.png" width="460px" alt="book of quotes">
        <h1 fxLayout="row" fxLayoutAlign="center center">Inspire</h1>
        <p>Click the heart to get your inspirational quote.</p>
            <button (click)="getInspirationalQuote()" mat-fab color="#4DD0E1">
                <mat-icon>favorite_border</mat-icon>
            </button>
        <h3>Good Boy park lazy dog walk kibble Scooby snacks licks canary. Maine water dog slobber chew scratcher ID tag litter tuxedo</h3>
        <h3>- Author author</h3>
    </section>
</div>